<?xml version="1.0" encoding="utf-8"?>
<!--
  This file is part of TIMS (http://github.com/wvrius/android-tims/)
  
  Copyright (c) 2011 Marius Ungureanu <marius@wvrius.com> - All rights reserved.
  
  TIMS is free software; you can redistribute it and/or modify  it under the terms 
  of the GNU General Public License V3 as published by the Free Software Foundation
   
  This software is distribuited WITHOUT ANY WARRANTY.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.wvrius.tims"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".ui.TimsActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.Settings"></activity>
        <activity android:name=".ui.AccountsList"></activity>
          <activity android:name=".ui.AccountEditor"></activity>

    </application>
</manifest>
